.product {
  &__card {
    max-width: 60rem;
    display: flex;
    background-color: var(--white);
    border-radius: 10px;
    margin: 3rem 1.5rem;

    @media only screen and (max-width: $bp-mobile) {
      max-width: 34.3rem;
      display: flex;
      flex-direction: column;
    }
  }
  &__image {
    width: 33.7rem;
    background: url(../images/image-product-desktop.jpg) no-repeat center
      center/cover;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

    @media only screen and (max-width: $bp-mobile) {
      width: 34.3rem;
      height: 24rem;
      background: url(../images/image-product-mobile.jpg) no-repeat center
        center/cover;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 0;
    }
  }

  &__info {
    width: 29.5rem;
    display: flex;
    flex-direction: column;
    padding: 3rem;
  }

  &__subtitle {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--dark-grayish-blue);
    font-weight: 500;
    letter-spacing: 5px;
    margin-bottom: 2rem;
  }

  &__description {
    font-size: 1.4rem;
    line-height: 1.6;
    font-weight: 500;
    color: var(--dark-grayish-blue);
    margin-bottom: 3rem;
  }
}

.pricing {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;

  &__sale {
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 1.2;
    color: var(--dark-cyan);
  }

  &__original {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--dark-grayish-blue);
    text-decoration: line-through;
  }
}
